body {
background-color: #383838;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d4d4d4' fill-opacity='0.08'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

button {
  font: Lato;
  font-size: 16px;
  font-variant: small-caps;
  font-weight: 100;
  background: white;
  border:2px solid gray;
  color: -internal-light-dark(black, red);
}

button:hover {
  border:2px solid #cc0000;
}

.leastToMostButton {
  position: absolute;
  top: 45px;
  left: 1140px;
}

.dateButton {
  position: absolute;
  top: 45px;
  left: 1344px;
}

.title {
  color: white;
  font-weight: 700;
  padding: 3px;
  background: rgba(0,0,0, 0.3);
/*  color: #cc0000;
  padding: 3px;
  background: rgba(255,255,255, 0.3);
*/  font-weight: 500;
}


a {
  color:#fff;
  padding: 3px 10px 5px 10px;
  border: 1px solid red;
  background: rgba(0,0,0, 0.5);
  text-decoration: none;
}


a:hover {
  color:#cc0000;
  padding: 3px 10px 5px 10px;
  border: 1px solid black;
  background: rgba(255,255,255, 0.7);
  text-decoration: none;
}

#mySlider {
  position:absolute;
  width: 600px;
  direction: rtl;
  top: 400px;
  left: -270px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.range-color {
   background-color: none;
   border-radius: 50px;
   width: 100%;
   display: block;
   height: 10px;
   position: absolute;
   z-index: 10;
}


input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

input[type=range] {
   box-sizing: border-box;
   appearance: none;
   width: 100%;
   height: 10px;
   background-color: #b2b2b2;
   border-radius: 50px;
   margin: 0;
   border: 0;
   outline: none;
   background-size: 100% 2px;
   pointer-events: none;
   box-shadow: inset 0 0 4px #000000;

   &:active,
   &:focus {
      outline: none;
   }
}





input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}



/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  height: 28px;
   width: 28px;
   border-radius: 28px;
   border: solid 1px #b2b2b2;
   background-color: #fff;
   position: relative;
   z-index: 50;
   cursor: pointer;
   appearance: none;
   pointer-events: all;
   box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  height: 28px;
   width: 28px;
   border-radius: 28px;
   border: solid 1px #b2b2b2;
   background-color: #fff;
   position: relative;
   z-index: 50;
   cursor: pointer;
   appearance: none;
   pointer-events: all;
   box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  height: 28px;
   width: 28px;
   border-radius: 28px;
   border: solid 1px #b2b2b2;
   background-color: #fff;
   position: relative;
   z-index: 10000;
   cursor: pointer;
   appearance: none;
   pointer-events: all;
   box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}




  /*
.patterns {
   background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgo8cmVjdCB3aWR0aD0nNScgaGVpZ2h0PSc1JyBmaWxsPScjZmZmJy8+CjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIGZpbGw9JyNjY2MnLz4KPC9zdmc+");

  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: alpha(opacity=40);
  background-color: #000;
}


#hovered {
  stroke: red;
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 3s ease-out;
  -moz-animation-iteration-count: infinite;
  -ms-animation: pulsate 3s ease-out;
  -ms-animation-iteration-count: infinite;
  animation: pulsate 3s ease-out;
  animation-iteration-count: infinite;
  }
*/



.chartRect:hover {
  stroke: #cc0000;
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 3s ease-out;
  -moz-animation-iteration-count: infinite;
  -ms-animation: pulsate 3s ease-out;
  -ms-animation-iteration-count: infinite;
  animation: pulsate 3s ease-out;
  animation-iteration-count: infinite;
}

.myYaxis line{
  stroke: white;
}

.myYaxis path{
  stroke: white;
}

.myYaxis text{
  fill: white;
}

.myXaxis line{
  stroke: white;
}

.myXaxis path{
  stroke: white;
}

.myXaxis text{
  fill: white;
}

/* GLOBE stuff */

.globeNormal {
    fill: black;
    stroke: black;
    filter: none;
}

.globeActive {
    fill: red;
    stroke: #b70000; /* #FFD3D6 #C0C0C0;*/
    filter: url(#glow);
    -webkit-animation: pulsateII 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: pulsateII 3s ease-out;
    -moz-animation-iteration-count: infinite;
    -ms-animation: pulsateII 3s ease-out;
    -ms-animation-iteration-count: infinite;
    animation: pulsateII 3s ease-out;
    animation-iteration-count: infinite;
}

/* KEYFRAMES */
@-webkit-keyframes pulsate {
  0%    { opacity:0.4; stroke-width: 0.5; }
  50%   { opacity:1.0; stroke-width: 3; }
  100%  { opacity:0.4; stroke-width: 0.5; }
}

@-moz-keyframes pulsate {
  0%    { opacity:0.4; stroke-width: 0.5; }
  50%   { opacity:1.0; stroke-width: 3; }
  100%  { opacity:0.4; stroke-width: 0.5; }
}

@-ms-keyframes pulsate {
  0%    { opacity:0.4; stroke-width: 0.5; }
  50%   { opacity:1.0; stroke-width: 3; }
  100%  { opacity:0.4; stroke-width: 0.5; }
}

@keyframes pulsate {
  0%    { opacity:0.4; stroke-width: 0.5; }
  50%   { opacity:1.0; stroke-width: 3; }
  100%  { opacity:0.4; stroke-width: 0.5; }
}

@-webkit-keyframes pulsateII {
  0%    { opacity:0.4; stroke-width: 1; }
  50%   { opacity:1.0; stroke-width: 2; }
  100%  { opacity:0.4; stroke-width: 1; }
}

@-moz-keyframes pulsateII {
  0%    { opacity:0.4; stroke-width: 1; }
  50%   { opacity:1.0; stroke-width: 2; }
  100%  { opacity:0.4; stroke-width: 1; }
}

@-ms-keyframes pulsateII {
  0%    { opacity:0.4; stroke-width: 1; }
  50%   { opacity:1.0; stroke-width: 2; }
  100%  { opacity:0.4; stroke-width: 1; }
}

@keyframes pulsateII {
  0%    { opacity:0.4; stroke-width: 1; }
  50%   { opacity:1.0; stroke-width: 2; }
  100%  { opacity:0.4; stroke-width: 1; }
}
